@import '@styles/breakpoints.module.scss';
@import '@styles/theme-colors.module.scss';
@import '@styles/fonts.module.scss';
@import '@styles/mixins.module.scss';

.appBarContainer {
    margin: 0 auto;
    width: 100vw;

    @include respond-to('desktop') {
        width: 1440px;
    }
}
