@import '@styles/breakpoints.module.scss';
@import '@styles/theme-colors.module.scss';
@import '@styles/fonts.module.scss';
@import '@styles/mixins.module.scss';

.appBarContainer {


//////////////////////
    margin: 0 auto;
    padding: 0 24px;

    @include respond-to('tablet') {
        padding: 0 48px;
    }

    @include respond-to('desktop') {
        width: 1440px;
        padding: 0 120px;
    }
}
