@import "@styles/breakpoints.module.scss";
@import "@styles/theme-colors.module.scss";
@import "@styles/fonts.module.scss";
@import "@styles/mixins.module.scss";

.loaderContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
