// --- fonts --- //
$roboto: 'Roboto Mono', monospace;
$kanit: 'Kanit', sans-serif;

// --- font-sizes --- //
$fontSizes: (
    'xs-small': 11px,
    's-small': 12px,
    'm-small': 14px,
    'l-small': 16px,
    's-medium': 18px,
    'm-medium': 24px,
    'l-medium': 28px,
    's-large': 36px,
    'm-large': 40px,
    'l-large': 48px,
);

@function getFontSize($key) {
    @return map-get($fontSizes, $key);
}

// line-height: 1.5;
// line-height: 1.3;

// font-weight: 400; regular
// font-weight: 500; medium
// font-weight: 700; bold
