@import '@styles/breakpoints.module.scss';
@import '@styles/theme-colors.module.scss';
@import '@styles/fonts.module.scss';
@import '@styles/mixins.module.scss';

// --- common margin styles --- //

.mainWrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    // Tab background-img 1x, 2x

    @include respond-to('tablet') {
        @include retina-background-image(
            '/src/assets/images/technology_background_tab',
            'jpg',
            100%,
            100%
        );
    }

    // PC background-img 1x, 2x

    @include respond-to('desktop') {
        @include retina-background-image(
            '/src/assets/images/technology_background_pc',
            'jpg',
            100%,
            100%
        );
    }
}

.mainContainer {
    margin: 0 auto;
    padding: 0 24px;
    background-color: getColor('background');

    @include respond-mob-minMax {
        border-radius: 16px 16px 0 0;
    }

    @include respond-to('tablet') {
        padding: 0 48px;
    }

    @include respond-to('desktop') {
        width: 1440px;
        padding: 0 120px;
    }
}

main {
    position: relative;
    background-color: getColor('background');

    overflow: auto;
    margin-bottom: 42px;

}

// --- common text styles --- //

h1 {
    font-family: $kanit;
    font-size: getFontSize('l-medium');
    font-weight: 500;
    line-height: 1.5;

    @include respond-to('tablet') {
        font-size: getFontSize('m-large');
    }

    @include respond-to('desktop') {
        font-size: getFontSize('l-large');
    }
}

h2 {
    font-family: $kanit;
    font-size: getFontSize('xs-medium');
    font-weight: 500;
    line-height: 1.5;

    @include respond-to('tablet') {
        font-size: getFontSize('m-medium');
    }
}

p {
    font-size: getFontSize('m-small');
    line-height: 1.3;
    color: getColor('light-grey');

    @include respond-to('tablet') {
        font-size: getFontSize('l-small');
    }
}
