@import '@styles/breakpoints.module.scss';
@import '@styles/theme-colors.module.scss';
@import '@styles/fonts.module.scss';
@import '@styles/mixins.module.scss';

.navContainer {
    background-color: getColor('background');
    border-bottom: 1px solid;
    border-color: getColor('accent-blue');
}

.navigation {
    @include respond-to('tablet') {
        // padding: 0 48px;
    }

    @include respond-to('desktop') {
        // padding: 0 120px;
        // width: 1440px;
    }
}

.navLinkList {
    display: flex;
    justify-content: space-between;
    text-decoration: none;

    font-size: getFontSize('m-small');
    line-height: 1.3;
    color: getColor('light-grey');

    @include respond-to('tablet') {
        justify-content: start;
        // padding: 16px 32px;
    }
}

.navItem {
    position: relative;
    padding: 16px 0;

    @include respond-to('tablet') {
        padding: 16px 32px;
    }
}

.navItemLink {
    padding: 16px 0;

    &:active {
        color: getColor('white');

        &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 6px;
                background: getColor('accent-blue');
            }
    }

    &:hover,
    &:focus {
        color: getColor('white');
    }
}

