@import '@styles/breakpoints.module.scss';
@import '@styles/theme-colors.module.scss';
@import '@styles/fonts.module.scss';
@import '@styles/mixins.module.scss';

.header {
    width: 100%;
    padding: 0 24px;

    display: flex;
    justify-content: space-between;

    @include respond-mob-minMax {
        margin-top: 3px;
    }

    @include respond-to('tablet') {
        padding: 11px 48px;
    }

    @include respond-to('desktop') {
        padding: 11px 40px;
        // width: 1440px;
    }
}

.headerBox {
    // display: flex;
    // justify-content: space-between;

    // margin: 0 auto;
    // padding: 0 24px;

    // @include respond-to('tablet') {
    //     // padding: 0 48px;
    // }

    // @include respond-to('desktop') {
    //     width: 1440px;
    // }
}

.logoLink {
    display: flex;
    align-items: center;
    fill: getColor('white');
}

.headerBtn {
    width: fit-content;

    @include respond-mob-minMax {
        padding: 8px 24px;
        font-size: getFontSize('m-small');
    }

    @include respond-to('tablet') {
        padding: 12px 40px;
    }
}
