@import '@styles/breakpoints.module.scss';
@import '@styles/theme-colors.module.scss';
@import '@styles/fonts.module.scss';
@import '@styles/mixins.module.scss';

.header {
    width: 100%;
    padding: 0 24px;

    display: flex;
    justify-content: space-between;

    @include respond-mob-minMax {
        margin-top: 3px;
    }

    @include respond-to('tablet') {
        padding: 11px 48px;
    }

    @include respond-to('desktop') {
        padding: 11px 40px;
    }
}

.logoLink {
    display: flex;
    align-items: center;
    fill: getColor('white');

    @include respond-to('tablet') {
        padding: 14px 0;
    }
}

.headerBtn {
    width: fit-content;

    @include respond-mob-minMax {
        padding: 8px 24px;
        font-size: getFontSize('m-small');
    }

    @include respond-to('tablet') {
        padding: 12px 40px;
    }
}
